
:root {
  --primary-bg-dark:#141d2e;
  --secondary-bg-dark: #1f2b48;
  --primary-bg-light: #f6f8ff;
  --secondary-bg-light: #ffffff;
  --btn-bg-color:#0079ff;
  --btn-text-color: #b5e6ff;
  --primary-text-color-dark:#e3ebf6;
  --secondary-text-color-dark: #727a90;
  --primary-text-color-light: #65686c;
  --search-color-dark: #12509c;
  --search-color-light: #8cb3d2;
}


body {
  min-height: 100vh;
  background: var(--primary-bg-light);
}

.root {
  border: #0079ff;
  max-width: 500px;
  margin: auto;
  background-color: var(--secondary-bg-light);
}

body .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary-text-color-light);
  font-size: large;
  font-weight: bold;
}

.user-search {
  max-width: 500px;
  padding: 0;
  margin: 1rem;
  position: relative;
  background: var(--secondary-bg-light);
  border-radius: 10px;
  box-shadow:  21px 21px 41px #cccccc,
               -21px -21px 41px #f4f4f4;
            
}

.search {
  padding: .9rem;
  margin: 0;
  border: none;
  outline: none;
  width: 78%;
  font-size: 18px;
  background: var(--secondary-bg-light);
  margin-left: 35px;
}
.btn-search{
  padding: 1.1rem 1rem;
  border: none;
  border-radius: 10px;
  color: var(--search-color-light);
  background: var(--btn-bg-color);

}

.btn-search:hover {
  background: #0255b5;
}

