@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
  --primary-bg-dark:#141d2e;
  --secondary-bg-dark: #1f2b48;
  --primary-bg-light: #f6f8ff;
  --secondary-bg-light: #ffffff;
  --btn-bg-color:#0079ff;
  --btn-text-color: #b5e6ff;
  --primary-text-color-dark:#e3ebf6;
  --secondary-text-color-dark: #727a90;
  --primary-text-color-light: #65686c;
  --search-color-dark: #12509c;
  --search-color-light: #8cb3d2;
}


body {
  min-height: 100vh;
  background: var(--primary-bg-light);
  font-family: 'Poppins', sans-serif;
}

h4 {
  margin: 0;
}

.root {
  background: var(--primary-bg-light);
}

.main {
  margin: auto;
  max-width: 600px; 
  min-height: 100vh;
  position: relative;
}

body .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary-text-color-light);
  font-size:28px;
  font-weight: bold;
  max-width: 600px;
  margin: 1rem auto;
}
.label {
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: 14px;
}
#toggle {
  position: absolute;
  top: 0;
  visibility: hidden;
}

.user-search {
  max-width: 600px;
  padding: 0;
  margin: 1rem auto;
  position: relative;
  background: var(--secondary-bg-light);
  border-radius: 10px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.search {
  padding: .9rem;
  margin: 0;
  border: none;
  outline: none;
  width: 81%;
  font-size: 18px;
  background: var(--secondary-bg-light);
  margin-left: 35px;
}

.btn-search{
  padding: 1rem 1.1rem;
  border: none;
  border-radius: 10px;
  color: var(--search-color-light);
  background: var(--btn-bg-color);

}

.btn-search:hover {
  background: #0255b5;
}

.loading {
  position: absolute;
  left: 45%;
  top: 25%;
}

.github-user{
  max-width: 600px;
  background: var(--secondary-bg-light);
  border-radius: 10px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  margin: .5rem auto; 
}
.parent-image {
  margin: 1em;
}
.user-image {
  border-radius: 50%;
  margin-top: 1em;
}

.user-details {
  display: flex;
  flex-direction: column;
  margin: 2em;
}

.parent-name {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 4rem;
}

.name {
  color: var(--primary-text-color-light);
}

.username{
  color: var(--search-color-dark);
  font-size: 0.7rem;
}

.user-bio {
  padding: .5em 0;
  margin: .5em 0;
  font-size: 0.7rem;
  color: var(--primary-bg-dark);
}

.parent-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary-text-color-light);
  background: var(--primary-bg-light);
  padding: 0.5rem;
  border-radius: 10px;
  margin: .5rem 0;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
p {
  margin: 0.2rem;
}

.child {
  font-size: 12px;
  color: var(--secondary-text-color-dark);
}

.last-section{
  display: flex;
  align-items: center;
  gap: 5rem;
  margin: 1rem 0 ;
}
.location-link {
  display: flex;
  flex-direction: column;

}

.twitter-home {
  display: flex;
  flex-direction: column;
}

.inline {
  display: flex;
  align-items: center;
  flex: none;
  gap: 1rem;
  font-size: .8rem;
  color: var(--secondary-text-color-dark);
}

.link {
  text-decoration: none;
}

.link:visited {
  color: var(--secondary-text-color-dark);
}

.selectors {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0;
}

.btn-repo {
  padding: .5em 2em;
  margin: 1em;
  color: var(--search-color-light);
  background: var(--btn-bg-color);
  border: none;
  border-radius: 10px;


}

.repo-main {
  position: relative;
}

.loading2 {
  position: absolute;
  left: 45%;
  bottom: 10%;
}

.repo-readme {
  background: var(--secondary-bg-light);
  border-radius: 10px;
  padding: 1em;
  text-align: justify;
  overflow:auto;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

@media screen and (max-width: 600px) {
  .main {
    margin: 1em;
  }
  
  .user-search {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 1rem auto;

  }

  .github-user{
    display: flex;
  }
  
  .search {
    padding: .6rem;
    margin: 0;
    margin-left: 30px;
    width: 100%;
    font-size: 16px;
  }

  .btn-search{
    padding: .8rem .9rem;
    margin: 0 2px 0  0;
    align-self: flex-end;
  }
  
    
  .parent-image {
    margin: .5em;
    height: 1px;
  }

  .user-details {
    margin: 1em;
    flex-grow: 1;
  }

  .user-bio {
    font-size: 12px;
  }

  .parent-name {
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
  }

  .parent-stats {
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 0;
    padding: 0.2rem;
    margin: .5rem 0;
    font-size: 12px;
  }

  .stats {
    flex-direction: row;
    align-items: center;
    gap: 1em;
  }

  .last-section{
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
  }
  }



@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */ 
  body {
    background: var(--primary-bg-dark);
  }


  .root {
    background: var(--primary-bg-dark);
  }

  body .nav {
    color: var(--primary-text-color-dark);
  }
    
  .user-search {
    background: var(--secondary-bg-dark);
  }

  .search {
    background: var(--secondary-bg-dark);
    color: var(--secondary-text-color-dark);
  }

  
  .btn-search {
    color: var(--search-color-dar);
    background: var(--search-color-dark)
  }
  
  .github-user {
    background: var(--secondary-bg-dark);
  }
  
  .name {
    color: var(--primary-text-color-dark);
  }
  
  .username{
    color: var(--search-color-dark);
  }
  
  .user-bio, .date-created {
    color: var(--primary-text-color-dark);
  }
  
  .parent-stats {
    color: var(--primary-text-color-dark);
    background: var(--primary-bg-dark);
  }
  
  .child {
    color: var(--secondary-text-color-dark);
  
  }
  .repo-readme {
    background: var(--secondary-bg-dark);
    color: var(--primary-text-color-dark);
    
  }
  

}